<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Scene Tonight</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav md-auto">
      <li class="nav-item">
        <% if(loggedIn){ %>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </li>
    </ul>

  </div>
</nav>
