<!DOCTYPE html>
<html>
  <head>
    <title>Scene Tonight</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
		<% include head %>
    <link href="/public/css/placeSearch.css" rel="stylesheet">
  </head>
  <body>
		<% include header %>
		<div class = container>
      <h1>Scene Tonight</h1>
      <div id="locationField">
        <input id="autocomplete" placeholder="Enter a city" type="text" />
      </div>
      <div id="map"></div>
  		<div id="cards"></div>
    </div>
    <script src="/controllers/placeSearch.client.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkZyztG3U4mSPVVP0RabfV589IDbT1iAg&libraries=places&callback=initMap"
        async defer></script>
  </body>
</html>
